<h2>Editar perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-sm-5">
      <div class="field">
        <%= f.label "Insira seu Nome" %><br />
        <%= f.text_field :name, autofocus: true, class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="row">
    <div class="col-sm-5">
      <div class="field">
        <%= f.label "Senha" %> <i>(deixe em branco se enão deseja mudar a senha)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> no mínimo</em>
        <% end %>
      </div>
    </div>
  </div>  

  <div class="row">
    <div class="col-sm-5">
      <div class="field">
        <%= f.label "Confirme sua senha" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
      <div class="field">
        <%= f.label "Senha atual" %> <i>(Nós precisamos que informe dua senha antiga para realizarmos a mudança)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control" %>
      </div>
    </div>
  </div>

  <div class="row button-space">
    <div class="col-sm-5">
      <div class="actions">
        <%= f.submit "Update", class:"btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>

<hr class="hr1">

<h3>Cancelar minha conta</h3>

<p>Não está gostando? <%= button_to "Excluir minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que deseja excluir sua conta?" }, method: :delete, class:"btn btn-danger" %></p>

<hr class="hr2">

<%= link_to "Voltar", :back, class:"btn btn-default button-space"%>
