<%= form_for Info.new do |info_form| %>
    <h1 class="title">Dados Gerais</h1>
    <hr class="hr2">
    <div class="space-between-categories">
        <div class="row space-between-div">
            <div class="col-sm-3">
                <div class="form-group">
                    <%= info_form.label :data_inicio %>
                    <%= info_form.date_field :data_inicio, class:"form-control" %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group space-left">
                    <%= info_form.label :data_fim %>
                    <%= info_form.date_field :data_fim, class:"form-control" %>
                </div>
            </div>
        </div>

        <div class="row space-between-div">
            <div class="col-sm-3">
                <div class="form-group">
                    <%= info_form.label :peso %>
                    <%= info_form.number_field :peso, step:0.01, class:"form-control" %>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group space-left">
                    <%= info_form.label :altura %>
                    <%= info_form.number_field :altura, step:0.1, class:"form-control" %>
                </div>
            </div>
        </div>

        <div class="row space-between-div">
            <div class="col-sm-3">
                <div class="form-group">
                    <%= info_form.label :peso_ideal %>
                    <%= info_form.number_field :peso_ideal, step:0.01, class:"form-control" %>
                </div>
            </div>
        </div>
    </div>

        <%= info_form.submit "Salvar", class:"btn btn-success" %>
<% end %>

<hr class="hr1">

<%= form_for Diet.new do |diet_form| %>
    <h1 class="title">Dietas</h1>
    <hr class="hr2">
    <div class="row">
        <div class="col-sm-2">
            <div class="form-group">
                <%= diet_form.label :horario %>
                <%= diet_form.time_field :horario, class:"form-control" %>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="control-group">
                <%= diet_form.label :refeicao, class:"control-label"%>
                <%= diet_form.select :refeicao, options_for_select([
                        ['Café da manhã' , 'Café da manhã' ],
                        ['Lanche' , 'Lanche' ], 
                        ['Almoço' , 'Almoço' ],
                        ['jantar' , 'Jantar' ],
                        ['Ceia' , 'Ceia' ]
                    ]), {}, class:"form-control" %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <div class="form-group">
                <%= diet_form.label :descricao %>
                <%= diet_form.text_area :descricao, class:"form-control", rows:6 %>
            </div>
        </div>
    </div>

    <%= diet_form.submit "Adicionar", class:"btn btn-primary" %>
<% end %>